.movies-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 28px;
    margin: 0 auto;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 70px 70px 10px;
    background: #FAFAFA;
}

@media screen and (max-width: 1279px) {
    .movies-card-list {
        padding: 70px 30px 10px;
        grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
        column-gap: 24px;
        row-gap: 35px;
    }
}

@media screen and (max-width: 767px) {
    .movies-card-list {
        padding: 40px 10px 30px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        row-gap: 16px;
    }
}