.movies-card__button {
    padding: 0;
    border: 0;
    background-color: #F4F4F4;
    border-radius: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    width: 100px;
    padding: 9px 0 9px;
    margin: 18px 0 18px;
    align-self: center;
    transition: all linear .3s;
    cursor: pointer;
}